body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #b5e8ff;
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: rgb(230, 247, 255);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 2rem;
    text-align: center;
  }
  
  .profile-img {
    width: 200px;
    border-radius: 10px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  ul {
    text-align: left;
    display: inline-block;
    margin-top: 1rem;
  }
  